<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!-- Welcome list, test for available -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>com.xingcloud.qm.web.listener.QMStartServiceListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.xingcloud.qm.web.listener.QMShutDownListener</listener-class>
  </listener>

  <!-- Query master servlet -->
  <servlet>
    <servlet-name>QueryBossServlet</servlet-name>
    <servlet-class>com.xingcloud.qm.web.servlet.QueryBossServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBossServlet</servlet-name>
    <url-pattern>/q</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>ToolServlet</servlet-name>
        <servlet-class>com.xingcloud.qm.web.servlet.ToolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToolServlet</servlet-name>
        <url-pattern>/tool</url-pattern>
    </servlet-mapping>

</web-app>
